1 VERSIONINFO
FILEVERSION     5,0,0,0
PRODUCTVERSION  5,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "VSO Software"
      VALUE "FileDescription", "FFmpeg for Downloader 6"
      VALUE "FileVersion", "5.0"
      VALUE "InternalName", "ffmpeg"
      VALUE "LegalCopyright", "LGPL"
      VALUE "OriginalFilename", "ffmpeg.exe"
      VALUE "ProductName", "FFmpeg"
      VALUE "ProductVersion", "5.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
